body {
    background-image: url('IMG_0011.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .nav-link {
    color: rgb(199, 217, 208); /* Ganti warna teks sesuai keinginan Anda */
}

.