.container {
    width: 800px;
    margin: auto;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: green ;
}

.header a:hover{
    background-color: blue;
    color: aliceblue;
}

.hero {
    height: 500px;
    background-image: url(m.png);
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px solid lightskyblue;
    border-bottom:5px solid lightcoral ;
}

.content {
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
 font-size: 11px;
 margin-top: -20px;
}

.content .p{
    margin-bottom: 20px;
    font-size: 14px;
}

.footer{
    background-color: black;
    padding: 10px;
}

.footer .copy {
    color: blueviolet;
    text-align: center;
    font-size: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-image {
    width: 30px; /* Sesuaikan lebar gambar */
    height: auto;
    display: block;
    margin: 0 auto;
}